nav {
  position:relative;
  width:100%;
  max-width:940px;
  background-color:#FFF;
  text-align:center;
  font-size:1.2em;
  font-variant:small-caps;
  line-height:1em;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}
nav ul {
  margin:0;
  padding:0;
}

nav li {
  padding-left: 1em;
  display:inline-block;
}

nav li a {
   color: #333;
}
nav .current a {
  text-decoration:bold;
}

nav li a:hover,
nav li a.selected {
  text-decoration:underline;;
}
