nav {
	position:relative;
	width:100%;
	max-width:940px;
	background-color:#FFF;
	text-align:center;
	font-size:1.5em;
	font-variant:small-caps;
	line-height:1em;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	display:inline-block;
}
nav li+li+li {
	padding-left:2em;
}
nav li a {
	 color: #333;
}
nav .current a {
	text-decoration:underline;
}

section h2 {
	padding-top: 24px;
}

.stuck {
	display:block;
	position:fixed;
	top:0;
	width:80%;
	max-width:752px;
	z-index:1000;
}
nav li a:hover,
nav li a.selected {
	text-decoration:underline;;
}
