---
title: Dr. Ryan W. Taylor
description: "I study contemporary evolution in wild populations. I'm currently learning genomic techniques as a postdoc in Dmitri Petrov's lab at Stanford. For my dissertation I studied selection on and quantitative genetics of red squirrel personality with Andrew McAdam and Kay Holekamp at Michigan State University."
---

<!-- Add your site or application content here -->
<p>Hello world! This is HTML5 Boilerplate.</p>
